<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Secured Page</h1>
Welcome, <span th:text="${#authentication.name}">Name</span>
</body>
</html>